#download{
    background-color: rgb(201, 38, 38);
    font-size: 200%;
    width: 231px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    left: -377px;
    right: 0px;
    top: -89px;
   
}
#a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: 1;
};
#p1
{
    position: absolute;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
#立绘 {
    position: absolute;
    width: 507px;
    height: auto;
    left: 59%;
}
#mochi {
    position: relative;
    left: -202px;
    padding-left: 22px;
    padding-top: 37px;
}
