#download{
    background-color: rgb(201, 38, 38);
    width: 25%;
    height: 13%;
    margin: 0 auto;
    position: absolute;
    top: 77%;
    left: 5.8%;
    text-align: left;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 31px #B5363C;
    box-shadow: 0px 0px 31px #B5363C;
   
}
#p1
{
    position: absolute;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
#a{
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    z-index: 1;
    font-weight: bold;
    text-decoration: none;
    width: 111%;
    left: 6%;
    height: auto;
    font-size: 401%;
}
;
.背景4   {
    position: absolute;
    width: 3%;
    height: auto;
    top: 68%;
}

.背景3 {
    position: absolute;
    width: 56%;
    height: auto;
    text-align: center;
    top: 9%;
    left: 20%;
}

.背景2 {
    position: absolute;
    width: 142%;
    height: 72%;
    text-align: center;
    bottom: 10%;
    right: 7%;
}
.背景15 {
    width: 119%;
    height: auto;
    position: absolute;
    left: -100%;
    top: -30%;
}

.背景13 {
    position: absolute;
    top: 46%;
    line-height: 50px;
    height: auto;
    left: 6%;
    bottom: auto;
    width: 45%;
}
.背景6 {
    position: absolute;
    width: 68%;
    height: auto;
    top: 17%;
    right: 27%;
}
.背景1 {
    width: 29%;
    height: auto;
    position: absolute;
    left: 5.4%;
    top: 8%;
}

.背景7 {
    position: absolute;
    width: 97%;
    height: auto;
    right: 8%;
    top: 8%;
}
.背景14 {
    width: 70%;
    height: auto;
    position: absolute;
    opacity: 1;
    left: 16%;
    top: 7%;
}

.背景8 {
    position: absolute;
    width: 104%;
    height: auto;
    right: 7%;
    top: -21%;
}
#立绘 {
    width: 35%;
    height: auto;
    position: absolute;
    left: 32%;
    top: 5%;
    right: 40%;
}
#mochi {
    width: 8%;
    width: 5%;
    height: auto;
    position: absolute;
    top: 6%;
    left: 8%;
}
#横线 {
    position: absolute;
    height: 1%;
    width: 85%;
    left: 7%;
    top: 5.2%;
}
