#download{
    background-color: rgb(201, 38, 38);
    width: 49%;
    height: 8%;
    margin: 0 auto;
    position: absolute;
    top: 87%;
    left: 29%;
    text-align: left;
    right: 45%;
    -webkit-box-shadow: 0px 0px 16px #B5363C;
    box-shadow: 0px 0px 16px #B5363C;
    font-size: 36px;
   }
#p1
{
    position: absolute;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
}

.背景3 {
    position: absolute;
    width: 92%;
    height: auto;
    visibility: inherit;
    top: 27%;
    left: 5%;
}

#a{
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    z-index: 1;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    left: 6%;
    height: auto;
}
;
#立绘 {
}


.背景2 {
    position: absolute;
    width: 169%;
    height: auto;
    text-align: center;
    bottom: 0%;
    left: -146%;

};
.背景5 {
    width: 0%;
    height: auto;
    position: absolute;
}

.背景13 {
    width: 64%;
    height: auto;
    position: absolute;
    top: 46%;
    left: 0%;
}
.背景1 {
    width: 91%;
    height: auto;
    position: absolute;
    margin-top: 0px;
    top: 9%;
    left: 2%;
}


.背景6 {
    position: absolute;
    width: 99%;
    height: auto;
    top: 30%;
    right: 6%;
    line-height: 50px;
    width: 91%;
}
.背景7 {
    position: absolute;
    width: 72%;
    height: auto;
    right: 0%;
    top: 5%;
}
.背景14 {
    width: 114%;
    position: absolute;
    opacity: 1;
    left: -17%;
    top: 13%;
    height: auto;
}
.背景8 {
    position: absolute;
    width: 90%;
    height: auto;
    right: 0%;
    top: 32%;
}
#立绘 {
    width: 79%;
    height: auto;
    position: absolute;
    left: 13%;
    top: 9%;
    right: 41%;
}
#mochi {
    height: auto;
    position: absolute;
    top: 1%;
    left: 2%;
    width: 13%;
}
#横线 {
    position: absolute;
    height: 6px;
    width: 80%;
    left: 17%;
    top: 2%;
   
}
