#download{
    background-color: rgb(201, 38, 38);
    font-size: 200%;
    width: 231px;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    right: 0px;
   
}
#a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    right: 0px;
    left: 0px;
};
#p1
{
    position: absolute;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
#立绘 {
    position: absolute;






}
